---
import Layout from '@layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
  <main class="max-w-2xl mx-auto h-dvh items-center flex justify-center">
    <div class="p-6 border border-purple-500 rounded-xl mt-8 w-full">
      <p class="text-white">
        Hello from <span class="text-purple-500">Tailwind</span>!
      </p>
    </div>
  </main>
</Layout>
