---

---

<div
  class="flex w-full flex-row items-center justify-between sm:justify-evenly"
>
  <a
    href="https://www.linkedin.com/in/conor-ob"
    class="flex flex-row items-center gap-1 text-muted-foreground hover:text-muted-foreground/80"
  >
    <span class="icon-[simple-icons--linkedin] size-5"></span>
    <p class="text-sm">LinkedIn</p>
  </a>
  <a
    href="mailto:conor.w.ob@gmail.com"
    class="flex flex-row items-center gap-1 text-muted-foreground hover:text-muted-foreground/80"
  >
    <span class="icon-[mdi--gmail] size-6"></span>
    <p class="text-sm">conor.w.ob@gmail.com</p>
  </a>
  <a
    href="https://github.com/conor-ob"
    class="flex flex-row items-center gap-1 text-muted-foreground hover:text-muted-foreground/80"
  >
    <span class="icon-[fa-brands--github] size-5"></span>
    <p class="text-sm">GitHub</p>
  </a>
</div>
