---
interface Props {
  url: string;
}

const { url } = Astro.props;
---

<a href={url}>
  <div
    class="flex flex-row items-center gap-1 rounded-md bg-secondary px-1.5 py-0.5 ring-1 ring-border hover:bg-secondary/50 hover:ring-border/50"
  >
    <span class="icon-[fa-brands--github] size-4"></span>
    <p class="text-xs font-normal text-muted-foreground">GitHub</p>
  </div>
</a>
