---
import { type CollectionEntry, getEntries } from "astro:content";
import TechnologyBadge from "./TechnologyBadge.astro";

type Props = {
  skill: CollectionEntry<"skills">;
};

const { skill } = Astro.props;
const technologies = skill.data.technologies
  ? await getEntries(skill.data.technologies)
  : [];
---

<div class="flex flex-col gap-2">
  <p class="text-sm text-muted-foreground">{skill.body}</p>
  <div class="flex flex-row flex-wrap gap-2">
    {
      technologies.map((technology) => (
        <TechnologyBadge technology={technology} />
      ))
    }
  </div>
</div>
