---
const currentYear = new Date().getFullYear();
---

<footer class="border-t border-border px-6 pb-8 pt-6 lg:px-0">
  <p class="text-center text-sm text-muted-foreground">
    &copy; {currentYear} Conor O'Brien | Built with Astro 🚀
  </p>
</footer>
