---
import { config } from "@data/config";
---

<footer class="border-border border-t p-6 lg:px-0">
  <p class="text-center text-sm/6 text-gray-400">
    &copy; {config.footer.title}
  </p>
</footer>
