---
import { getCollection } from "astro:content";

import EducationCard from "@components/EducationCard.astro";
import ExperienceCard from "@components/ExperienceCard.astro";
import ProjectCard from "@components/ProjectCard.astro";
import Section from "@components/Section.astro";

const experienceCollection = await getCollection("experience");
const educationCollection = await getCollection("education");
const projectsCollection = await getCollection("projects");
---

<main class="flex flex-grow flex-col gap-16 px-4 pb-16 pt-8 lg:px-0">
  <Section title="About">
    <p class="text-balance text-sm text-muted-foreground">
      I'm a software engineer with 10 years of experience across diverse sectors
      and roles. My career has evolved into a senior tech lead role where the
      projects I'm responsible for delivering are shaping the direction of the
      organisation. While I excel at leading technical projects and acting as a
      bridge between my engineering team and senior leadership—my true passion
      lies in writing code, obsessing over design details and shipping features.
    </p>
  </Section>

  <Section title="Experience">
    {
      experienceCollection
        .sort((a, b) => a.data.sort - b.data.sort)
        .map((experience) => <ExperienceCard experience={experience} />)
    }
  </Section>

  <Section title="Education">
    {
      educationCollection
        .sort((a, b) => a.data.sort - b.data.sort)
        .map((education) => <EducationCard education={education} />)
    }
  </Section>

  <Section title="Projects">
    {
      projectsCollection
        .sort((a, b) => a.data.sort - b.data.sort)
        .map((project) => <ProjectCard project={project} />)
    }
  </Section>
</main>
