---

---

<main class="flex flex-grow items-center justify-center">
  <div class="flex rounded-xl border border-purple-500 p-6">
    <p class="text-white">
      Hello from <span class="text-purple-500">Tailwind</span>!
    </p>
  </div>
</main>
