---
import JobCard from "@components/JobCard.astro";

import { experience } from "@data/sections/experience";
---

<main class="flex flex-grow px-4 lg:px-0">
  <div class="w-full">
    <div class="flex w-full flex-col justify-between gap-4 sm:flex-row">
      <p class="text-2xl">Experience</p>
      <div class="flex flex-col gap-4">
        {experience.jobs.map((job) => <JobCard {...job} />)}
      </div>
    </div>
  </div>
</main>
