---
import ExperienceCard from "@components/ExperienceCard.astro";

import { experience } from "@data/sections/experience";
import { education } from "@data/sections/education";
import EducationCard from "@components/EducationCard.astro";
---

<main class="flex flex-grow flex-col gap-8 px-4 lg:px-0">
  <div class="w-full">
    <div class="flex w-full flex-col justify-between gap-4 sm:flex-row">
      <p class="text-2xl">Experience</p>
      <div class="flex flex-col gap-4">
        {experience.jobs.map((job) => <ExperienceCard {...job} />)}
      </div>
    </div>
  </div>
  <div class="w-full">
    <div class="flex w-full flex-col justify-between gap-4 sm:flex-row">
      <p class="text-2xl">Education</p>
      <div class="flex flex-col gap-4">
        {education.degrees.map((degree) => <EducationCard {...degree} />)}
      </div>
    </div>
  </div>
</main>
