---
import ExperienceCard from "@components/ExperienceCard.astro";

import { experience } from "@data/sections/experience";
import { education } from "@data/sections/education";
import EducationCard from "@components/EducationCard.astro";
---

<main class="flex flex-grow flex-col gap-8 px-4 py-16 lg:px-0">
  <div class="w-full">
    <div class="flex w-full flex-col justify-between gap-4 sm:flex-row">
      <p class="text-lg font-semibold">Experience</p>
      <div class="flex w-full max-w-screen-sm flex-col gap-4">
        {experience.jobs.map((job) => <ExperienceCard {...job} />)}
      </div>
    </div>
  </div>
  <div class="w-full">
    <div class="flex w-full flex-col justify-between gap-4 sm:flex-row">
      <p class="text-lg font-semibold">Education</p>
      <div class="flex w-full max-w-screen-sm flex-col gap-4">
        {education.degrees.map((degree) => <EducationCard {...degree} />)}
      </div>
    </div>
  </div>
</main>
